body{
    background-color: black;
    color: white;
    
}
h1{
    text-align: center;
    background-color: white;
    color: black;
}

h2{
    text-align: center;
    background-color: rgb(190, 189, 189);
    color: black;
}

li a{
    text-decoration: none;
}
.negrita{
    font-weight: bold;
}
.cursiva{
    font-style: italic;
}