@keyframes muevete{
    0%{left: 50px; top: 50px;}
    25%{
        left: 500px;
        top: 50px;
        background-color: rgb(255, 0, 0);
        border-radius: 50px;
    }
    50%{
        left: 500px;
        top: 500px;
        background-color: aqua;
    }
    75%{
        left: 50px;
        top: 500px;
        background-color: gold;
    }
    100%{
        left: 50px; 
        top: 50px;
    }

}

div{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(71, 50, 205);
    top: 50px;
    left: 50px;
    animation-name:muevete;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
