#principal{
    font-family: roboto;
    text-align: center;
    color: black;
}
body{
    background-color: #7FFF00;
}
h2{
    text-align: center;
    color: blue;
}
h1{
    text-align: center;
    color: white;
}
.lorem{
    text-align: center;
    font-weight: bold;
    color: black;
}
p{
    color: red;
}